*{
	padding: 0;
	margin: 0;
	font-family: 'Averia Serif Libre', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.logo{
    padding: 5px  15px;
    margin-bottom: auto;
    margin-top: auto;
}

nav{
    position: fixed;
    top:0; left: 0; right:0;
    background:rgba(255, 255, 255, 0.87);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}

li{
    list-style-type: none;
	display: inline-block;
	padding: 1px  20px;
}

li a{
    display: flex;
    color: black;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

li a:hover{
    color: #6dc6fa;
	transition: .4s
}

.hero{
    width: 100%;
    height: 100vh;
	margin-top: 90px;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 2/1){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 2/1){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.content{
	position: absolute;
	padding-top: 50px;
	text-align: center;
	transform: translateY(-50%);
}

p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	padding: 5px
}

h1{
	color: transparent;
	margin: 20px 0px 20px;
	background-image: linear-gradient(180deg, #E24348, #38AACE);
	-webkit-background-clip: text;
	font-size: 90px;
	cursor: default;
	transition: all 0.5s ease-in-out;
}

h1:hover{
	transform: scale(1.1);
}

h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin: 20px;
}

h3{
	color:azure;
	font-size: 35px;
	margin-bottom: 15px;
}

span{
	color: #6dc6fa;
}

.about{
    width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.img{
	height: auto;
	width: 430px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text{
	width: 550px;
}

.title{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.members{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.gallery{
	margin: 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.gallery:hover .overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #6dc6fab7;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
  
.overlay h5{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.overlay p{
	color: white;
	font-size: 12px;
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

h5{
	color: #6dc6fa;
	font-size: 23px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.media{
	background: #191919;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
	position: relative;
	overflow: hidden;
	text-align: left;
}

.albums{
	background: #101010;
	position: relative;
	padding: 100px 0px;
	text-align: center;
}

.sosmed{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #191919;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social{
	display: flex;
	justify-content: center;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #6dc6fa;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
    background-color: transparent;
	border: 2px solid #6dc6fa;
	color: #6dc6fa;
	cursor: pointer;
}

.btn{
	background-color:#6dc6fa;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}

.btn:hover{
    background-color: transparent;
	border: 2px solid #6dc6fa;
	color: #6dc6fa;
	cursor: pointer;
}

footer {
	background-color: black;
	padding: 20px;
    color: white;
    text-align: center;
}
